.App {
    
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {

    text-decoration: none;
    display: inline;
    margin: 2px;
}

.text {
    text-decoration: none;
    color: brown;
}

.text1{
    color: brown;
}

Link {
    transition: font-size;
    font-size: 20px;
}

Link:hover {
    font-size: 22px;
}

.slideshow-container {
    margin: auto;
}

@keyframes slideUp {
    from {
        
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
    }
}

.scroll-animate {
    animation: slideUp 1s ease-out forwards;
}

.carousel-item img {
    object-fit: cover; 
    height: 100vh;
}

.hori{
    transition:  1s;
    transform: translateY(-40px);
    transition-timing-function:ease-out ;
}

.section-header.animate {
    transition: top 0.15s ease-out;
}
