.title{
    color:#4A2A1E;
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.sub-title{
    color:#4A2A1E;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.discountPrice{
    color:#4A2A1E;
}

.price{
    color:#4A2A1E;
}

.content{
    color:#4A2A1E;  
}

@media (min-width: 576px) { 
    .w-100{
        width:100%
    }
 }

 .modal{
    color: #caac80;
 }